* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

section {
    padding: 50px 0;
}
/* COMMON */
/* Layout */
.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    border: 1px solid red;
}

.col {
    width: 50%;
    border-radius: 10px;
    flex-grow: 1;
    
}

/* Utilities */
.p-t-50 {
    padding-top: 50px;
}


/* HEADER */
.header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    width: 100%;
    background-color: #0084FD;

    /* debug */
    /* height: 80px; */
}

.header ul{
    list-style: none;
    display: none;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 992px;
}

@media screen and (min-width: 992px) {  
    
    .header ul {
        display: flex;
        justify-content: space-between;
    }

    .hamburger-menu {
        display: none;
    }

    .header-menu li a{
        text-decoration: none;
        padding: 0 5px;
    }
}

/* MAIN */
/* Services section */
.columns {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    width: 100%;

    /* debug */
    /* height: 600px; */
}

.service .col {
    width: 90%;
    /* debug */
    background-color: #86FA50;
    height: 100px;
}


@media screen and (min-width: 480px) {
    .service .columns {
        flex-direction: row;
        /* align-items: flex-start; */
    }

   .service .col{
        height: 200px ;
        width: 28%;
        background-color: red;   
   }

   #big {
        width: 56%;
   }
}

/* Planning Section */
.planning {
    background-color: #9792E4;
    /* debug */
    /* height: 700px; */
}

.planning .col {
    height: 200px;
    width: 100%;
    max-width: 480px;
    background-color: blue;
}

@media screen and (min-width: 480px) {

}

@media screen and (min-width: 992px) {
    .planning .columns {
        flex-direction: row;
        justify-content: center;
    }

    .planning .col {
        width: 48%;
    }
}


/* Testimonial Section */
.testimonial .col {
    height: 200px;

    max-width: 992px;
    background-color: lightpink;
}

.testimonial .title {
    background-color: yellow;
}

@media screen and (min-width: 480px) {
    .testimonial .col, .testimonial .title{
        width: 100%;
    }
}