* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* COMMON */
/* Layout */
.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    border: 1px solid red;
}



/* Utilities */
.p-t-50 {
    padding-top: 50px;
}


/* HEADER */
.header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    width: 100%;
    background-color: #0084FD;

    /* debug */
    /* height: 80px; */
}

.header ul{
    list-style: none;
    display: none;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 992px;
}

@media screen and (min-width: 992px) {  
    
    .header ul {
        display: flex;
        justify-content: space-between;
    }

    .hamburger-menu {
        display: none;
    }

    .header-menu li a{
        text-decoration: none;
        padding: 0 5px;
    }
}

/* MAIN */
/* Services section */
.columns {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    width: 100%;

    /* debug */
    /* height: 600px; */
}

.col {
    width: 90%;
    border-radius: 10px;
    flex-grow: 1;
    /* debug */
    background-color: #86FA50;
    height: 100px;
}

#big {
    flex-grow: 2;
}

@media screen and (min-width: 480px) {
    .columns {
        flex-direction: row;
        /* align-items: flex-start; */
    }

   .col {
        height: 200px ;
        width: 28%;
        background-color: red;   
   }

   #big {
        width: 56%;
   }
}

/* Strategic Section */
.strategic {
    background-color: #9792E4;
}